body{
    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
    font-size: 13pt;
    background-color: #f4f4f4;
    line-height: 1.5em
}

h1{
    color: #5a80a0;
}
/* ed7059  orige*/
h2{
    font-weight: normal;
    color: #5a80a0;
    margin-bottom: -3px;
}

hr{
    margin-bottom: -3px;
}

/* strong{
    font-weight: 949;
} */

.highlight {
    font-weight: bold;
    color: #000000;
}
/* 1e90ff 4d80e6 */
a:link { text-decoration: none; color:#4d80e6}
/* a:link { text-decoration: none; color:green} */
/* a:active { text-decoration:blink} */
a:hover { text-decoration:underline} 
a:visited { text-decoration: none;color: #945395}


.container {
    /* width: 1024px; */
    max-width:1057px;
    padding: 50px 80px;
    border-radius: 20px;
    margin: auto;
    background-color: #fefefe;
}

.cir_pic {
    border-radius: 20px;
    width: 140px;
    /* position: relative; */
    left: 0%;
}

#mypic {
    /* float: left; */
    /* width: 16%; */
    position:relative; 
    left:5px; top:22.5px;
}

#header {
    /* float: right; */
    /* width: 82%; */
    margin-left: 190px;
    margin-bottom: 0px;
    margin-top: -146px;
    position: relative;
}

.clear{
    clear: both;
}


#footer{
    margin-top: 90px;
    margin-bottom: -20px;
    text-align:center;
}

.item{
    margin-top: 40px;
}
