body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    line-height: 1.5em
}
h1{
    color: #ed7059;
}
h2{
    color: #ed7059;
    margin-bottom: -5px;
}

a:link { text-decoration: none; color:#1e90ff}
/* a:active { text-decoration:blink} */
a:hover { text-decoration:underline} 
/* a:visited { text-decoration: none;color: green} */


.container {
    /* width: 1024px; */
    max-width:1060px;
    padding: 50px 80px;
    border-radius: 20px;
    margin: auto;
    background-color: white;
}

#bio {
    float:left;
    width: 53%;
}

#pic {
    float: right;
    width: 40%;
    position:relative; left:10px; top:30px;
}

.clear{
    clear: both;
}

#footer{
    margin-top: 90px;
    text-align:center;
}

.item{
    margin-top: 40px;
}
