body{
    background-color: #f4f4f4;
    line-height: 1.5em
}

h2{
    margin-bottom: -5px;
}

.container {
    /* width: 1024px; */
    max-width: 1024px;
    padding: 50px 80px;
    border-radius: 20px;
    margin: auto;
    background-color: white;
}

#bio {
    float:left;
    width: 55%;
}

#pic {
    float: right;
    width: 40%;
    position:absolute;left:1080px;top:120px;
}

.clear{
    clear: both;
}

#footer{
    margin-top: 150px;
    text-align:center;
}

.item{
    margin-top: 40px;
}
